body
{
    font-family: sans-serif;
    width: 780px;
}

h1
{
    font-size: 32px;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2
{
    font-size: 24px;
    margin-top: 2px;
    margin-bottom: 2px;
}

p.arborescence
{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.dossier
{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #F4F4F4;
}

p.legende
{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #F4F4F4;
}

div.ajout
{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}

div.commentaire
{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #E6F2FF;
}

div.validation
{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #FFE1E1;
    text-align: center;
}

div.copyright
{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

a:link, a:hover, a:visited
{
    text-decoration: none;
}

img
{
    border: 0px;   
}

h1 a
{
    color: #000000;
}

p.nouveau 
{
    border-bottom: 1px dashed black;
    padding-bottom: 5px;  
}
p
{
    margin: 0px;   
}
a[hreflang]:after {
  content: " [" attr(hreflang) "] ";
  color: #cc9933;
  font-weight: smaller;
}