body {
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-top: 2px;
    margin-bottom: 2px;
}
div.arborescence {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    <!--background-color: #F4F4F4;-->
}

div.dossier {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #F4F4F4;
}
div.legende {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #F4F4F4;
}
div.ajout {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}
div.commentaire {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #E6F2FF;
}
div.copyright {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}
a:link {
    text-decoration: none;
}
img {
    border: 0px;   
}